<div class="office-controller">

    <h2>Office</h2>

    <form class="form" ng-submit="vm.submit(vm.office)">
        <div class="form-group">
            <label for="id">Id</label>
            <input type="text" id="id" class="form-control" placeholder="Id" ng-model="vm.office.id">
        </div>

        <div class="form-group">
            <label for="location">Location</label>
            <input type="text" id="location" class="form-control" placeholder="Location" ng-model="vm.office.name">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>

    </form>

</div>
