<div class="employees-list-controller">

    <h2>Employee</h2>

    <form class="form">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" placeholder="Name" ng-model="vm.employee.name">
        </div>

        <div class="form-group">
            <label for="salary">Salary</label>
            <input type="text" id="salary" class="form-control" placeholder="Salary" ng-model="vm.employee.salary">
        </div>
        <div class="form-group">
            <label for="location">Location</label>
            <select class="custom-select" id="location" ng-model="vm.employee.officeId"
                    ng-options="option.value as option.name for option in vm.offices">
            </select>
        </div>

        <div class="form-group">
            <a class="btn btn-primary" href="#" role="button">Save</a>
        </div>
    </form>

</div>
