<div class="employee-controller">

    <h2>Employee</h2>

    <form class="form" ng-submit="vm.submit(vm.employee)">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" placeholder="Name" ng-model="vm.employee.name" required>
        </div>

        <div class="form-group">
            <label for="salary">Salary</label>
            <input type="text" id="salary" class="form-control" placeholder="Salary" ng-model="vm.employee.salary" required pattern="\d+(\.\d{2})?">
        </div>
        <div class="form-group">
            <label for="location">Location</label>
            <select class="custom-select" id="location" ng-model="vm.employee.officeId" ng-options="option.value as option.name for option in vm.offices" required
            ng-disabled="vm.mode === 'add'">
            </select>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>

</div>
