<div class="office-list-controller">

    <h2>Offices</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Location</th>
            <th scope="col">Num of employees</th>
            <th scope="col">Average salary</th>
            <th scope="col">Show employees</th>
            <th scope="col">Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="office in vm.offices track by $index">
            <th scope="row">{{office.id}}</th>
            <td>{{office.name}}</td>
            <td>{{office.employees}}</td>
            <td>{{office.avgSalary}}</td>
            <td>
                <button type="button" ng-click="vm.show(office)" class="btn btn-primary">Show</button>
            </td>
            <td>
                <button type="button" ng-click="vm.edit(office)" class="btn btn-primary">Edit</button>
            </td>
        </tr>

        </tbody>
    </table>

</div>
